<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - GO CHAT</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="container">
      <!-- Include Header -->
      {{ template "header.html" }}

      <!-- Forgot Password Form -->
      <main>
        <section class="form-section">
          <h1>Reset Password</h1>
          <form
            action="/forgot-password"
            method="POST"
            class="forgot-password-form"
          >
            <label for="username">Enter your username:</label>
            <input type="text" id="username" name="username" required />

            <label for="new_password">Enter new password:</label>
            <div class="password-container">
              <input
                type="password"
                id="new_password"
                name="new_password"
                required
              />
              <span class="toggle-password" onclick="togglePasswordVisibility()"
                >👁️</span
              >
            </div>

            {{ if .ErrorMessage }}
            <div class="error-message" style="margin-top: 1rem">
              {{ .ErrorMessage }}
            </div>
            {{ end }}

            <button type="submit" class="btn">Update Password</button>

            <div class="additional-links">
              <p>Go back to login?</p>
              <a href="/login">Login</a>
            </div>
          </form>
        </section>
      </main>

      <!-- Footer -->
      <footer>
        <p>&copy; 2024 GO CHAT. All rights reserved.</p>
      </footer>
    </div>

    <script>
      function togglePasswordVisibility() {
        const passwordField = document.getElementById("new_password");
        const toggleIcon = document.querySelector(".toggle-password");

        if (passwordField.type === "password") {
          passwordField.type = "text";
          toggleIcon.textContent = "🙈"; // Change icon to "hide"
        } else {
          passwordField.type = "password";
          toggleIcon.textContent = "👁️"; // Change icon to "show"
        }
      }
    </script>
  </body>
</html>
