<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO CHAT - Welcome</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <!-- Include Header -->
        {{ template "header.html" }}

        <!-- Main Section -->
        <main>
            <section class="welcome-section">
                <!-- Features List -->
                <div class="features">
                    <h2>Your GO to GO CHAT</h2>
                    <ul>
                        <li>✅ Smooth <span>REGISTRATION</span> and LOGIN process</li>
                        <li>🔑 Don't worry if you <span>FORGOT</span> your password</li>
                        <li>🔍 <span>SEARCH</span> for your friends and send them REQUESTS</li>
                        <li>✔️ <span>ACCEPT</span> or REJECT</span> requests gracefully</li>
                        <li>💬 Start <span>CHATTING</span> right away</li>
                        <li>🎉 Enjoy <span>AMAZING</span> experiences in chat</li>
                        <li>📁 SEND various <span>FILE</span> types </li>
                        <li>🌐 <span>DOWNLOAD</span> your files whenever needed</li>
                        <li>😊 Send <span>EMOJIS</span> and much more!</li>
                    </ul>
                </div>

                <div class="illustration-image">

                    <img src="/static/images/illustration.png" />
                </div>
            </section>
        </main>

        <!-- Footer Section -->
        {{ template "footer.html" }}
    </div>
</body>
</html>
