<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Chat - Requests</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/snackbar.css" />
    <link rel="stylesheet" href="/static/headers.css" />
    <style>
      .list-item {
        padding: 15px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      .action-buttons {
        margin-top: 10px;
      }
      .accept-btn {
        width: 120px;
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 10px;
        margin-right: 5px;
        border-radius: 3px;
        cursor: pointer;
      }
      .reject-btn {
        width: 120px;
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 10px;
        margin-top: 10px;
        border-radius: 3px;
        cursor: pointer;
      }
      .accept-btn:hover {
        background-color: #218838;
      }
      .reject-btn:hover {
        background-color: #c82333;
      }
    </style>
  </head>
  <body>
    <!-- Including Header -->
    {{ template "requests_header.html" . }}

    <div id="snackbar">Some text some message..</div>

    <div class="contact-chat-container">
      <div class="contact-list">
        <ul id="request-list" class="list-items">
          <!-- Check if there are any requests -->
          {{ if .Requests }} {{ range .Requests }}
          <li class="list-item request-item" data-request-id="{{ .ID }}">
            <div>
              <p><strong>Username:</strong> {{ .SenderDetails.Username }}</p>
              <p><strong>Email:</strong> {{ .SenderDetails.Email }}</p>
              <p>
                <strong>Request Received On:</strong> {{ .CreatedAtFormatted }}
              </p>
            </div>
            <div class="action-buttons">
              <button
                class="accept-btn"
                data-request-id="{{ .ID }}"
                data-target-user-id="{{ .SenderDetails.UserID }}"
              >
                Accept
              </button>
              <button
                class="reject-btn"
                data-request-id="{{ .ID }}"
                data-target-user-id="{{ .SenderDetails.UserID }}"
              >
                Reject
              </button>
            </div>
          </li>
          {{ end }} {{ else }}
          <p>No pending contact requests.</p>
          {{ end }}
        </ul>
      </div>
    </div>

    <script src="/static/helpers.js"></script>
    <script>
      const userId = "{{ .UserID }}";
      const GATEWAY_WS_URL = "{{ .WebSocketURL }}";
      const protocol = window.location.protocol === "https:" ? "wss" : "ws";
      const ws = new WebSocket(
        `${protocol}://${window.location.host}/ws/contacts?user_id=${userId}`
      );
      const ws2 = new WebSocket(
        `${protocol}://${window.location.host}/ws/messages?user_id=${userId}`
      );

      ws.onopen = () => {
        console.log("WebSocket connection established with contacts app.");
      };

      ws.onmessage = (event) => {
        const data = JSON.parse(event.data);

        if (data.type === SOCKET_EVENTS.UPDATE_SENT_ON_CONTACT_REQUEST) {
          showSnackbar(`Request ${data.action}ed successfully!`);
          const requestElement = document.querySelector(
            `[data-request-id="${data.id}"]`
          );
          if (requestElement) requestElement.remove();
        }

        if (data.type === SOCKET_EVENTS.UPDATE_RECEIVED_ON_CONTACT_REQUEST) {
          showSnackbar("Your request was accepted");
        }

        // Contact related events
        if (data.type === SOCKET_EVENTS.NEW_CONTACT_REQUEST_RECEIVED) {
          showSnackbar("Request received for connection");
        }
        if (data.type === SOCKET_EVENTS.CONTACT_REQUEST_SENT_ACK) {
          showSnackbar("Contact request sent Successfully!");
        }

        if (data.type === SOCKET_EVENTS.CONTACT_REMOVED_ACK) {
          showSnackbar("Contact was removed Successfully!");
        }
        if (data.type === SOCKET_EVENTS.CONTACT_REMOVED) {
          showSnackbar("You were removed by someone!");
        }
      };

      ws.onclose = () => {
        console.log("WebSocket connection closed.");
      };

      ws.onerror = (error) => {
        console.error("WebSocket error:", error);
      };

      ws2.onopen = () => {
        console.log("WebSocket connection established with messaging app.");
      };

      ws2.onmessage = (event) => {
        const data = JSON.parse(event.data);

        if (data.type === SOCKET_EVENTS.NEW_MESSAGE_RECEIVED) {
          showSnackbar("New message received in chats");
        }
        if (data.type === SOCKET_EVENTS.NEW_FILE_RECEIVED) {
          showSnackbar("A file received in chats");
        }
      };

      ws2.onclose = () => {
        console.log("WebSocket connection closed with messaging app.");
      };

      ws2.onerror = (error) => {
        console.error("WebSocket error:", error);
      };

      // Handle accept button click
      document.addEventListener("click", (event) => {
        if (event.target.classList.contains("accept-btn")) {
          const requestId = event.target.getAttribute("data-request-id");
          const targetUserId = event.target.getAttribute("data-target-user-id");
          handleRequestAction("accept", requestId, targetUserId);
        }

        if (event.target.classList.contains("reject-btn")) {
          const requestId = event.target.getAttribute("data-request-id");
          const targetUserId = event.target.getAttribute("data-target-user-id");
          handleRequestAction("reject", requestId, targetUserId);
        }
      });

      function handleRequestAction(action, requestId, targetUserId) {
        if (ws.readyState === WebSocket.OPEN) {
          ws.send(
            JSON.stringify({
              type: `${action}_contact_request`,
              request_id: requestId,
              user_id: userId,
              target_user_id: targetUserId,
              action: action,
            })
          );
          console.log(`Request ${action} sent for request ID: ${requestId}`);
        } else {
          console.error("WebSocket connection is not open.");
          showToast(
            "Failed to perform action. WebSocket not connected.",
            "error"
          );
        }
      }
    </script>
  </body>
</html>
